.pets{
  display: flex;
  
}
.name{
  flex: 2;
}
.cost{
  flex: 1;
}
.img{
  width: 25%;
  height: 25%;
}
.description{
  margin: 4px;
  padding: 10px;
  border: 2px solid blue;
  box-shadow: 5px 5px 5px #dddddd;
  flex-direction:column;
}
.description:before{
  content: "Specs";
  font-weight: bold;
  background: #00AA00;
  color: black;
}
.description, .description:before{
  flex: 1;
  padding: 0.5em;
}
