.pets{
  display: flex;
}
.foodItem {
  display: flex;
  flex-direction: column;
}
.foodItem .header{
  display: flex;
  flex-direction: row;
}
.name{
  flex: 2;
}
.cost{
  flex: 1;
}
.description{
  display: flex;
  margin: 4px;
  padding: 10px;
  border: 2px solid green;
  box-shadow: 5px 5px 5px #dddddd;
  flex-direction:column;
}
.description:before{
  content: "Specs";
  font-weight: bold;
  background: #00AA00;
  color: #00008B;
}

.description, .description:before{
  flex: 1;
  padding: 0.5em;
}
